{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
<div id="overlay">
        <div class="jumbotron">
            <div class="page" >
            <h1 class="title display-3 text-center" ><span><span>Mon agence de dingue</span></span></h1>
            </div>
            <p class="lead text-center">Découvrez un choix très varié des plus belles voitures au monde </p>
            <hr class="my-4">           
        </div>   
</div>

<div class="jumbotron text-center" >
        <img class="img1 " src="{{asset('images/siteBiens.png')}}" alt="">
</div>

  <div >
    <h2>Les derniers biens</h2>
  </div>
 <div class="container">
    
        <div class="row_biens row flex">
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" >
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug})}}">{{property.title}}</a>
                        </h5>
                        <p class="card-text">{{property.city}} {{property.postalCode}}</p>
                        <div class="text-primary" style="font-weight: bold; font-size: 2rem;" >{{property.formattedPrice }} € </div>
                    </div>
                </div>   
            </div>
            {% endfor %}
        </div>
</div> 

{% endblock %}
