<div class="card">

<div class="card-body">
    <h5 class="card-title">
        <a href="{{ path('property.show', {slug: property.slug, id: property.id}) }}">
        {{ property.title }}
        </a>
    </h5>
    <!--<p class="card-text">{{ property.description | nl2br }} </p>-->
    <p class="card-text">{{ property.surface }} m2 - {{ property.city }} ({{ property.postalCode }})</p>
    <div class="tex-primary" style="font-size:2rem; font-weight: bold;" >
    {{ property.formattedPrice }} €
    </div>
</div>


</div>