{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}

{% block body %}
<div class="jumbotron">
<div class="container">
    {{ form_start(form) }}
    <div class="form-row align-items-end">
        <div class="col">
            {{ form_row(form.minSurface) }}
        </div>
        <div class="col">
        {{ form_row(form.maxPrice)}}
        </div>
        <div class="col">
            {{ form_row(form.options) }}
        </div>
        <div class="col">
            <div class="form-group">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    </div>
</div>
<div class="container mt-4" >

   

</div>

 <div class="container">
    <h1 class="text-center">Voir tous nos biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-md-4">
            {% include "property/_property.html.twig" %}
            <!--<div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" >
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug})}}">{{property.title}}</a>
                        </h5>
                        <p class="card-text">{{property.city}} {{property.postalCode}}</p>
                        <div class="text-primary" style="font-weight: bold;font-size: 2rem;" >{{property.formattedPrice }} € </div>
                    </div>
                </div>   
            </div> -->
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
        {{ knp_pagination_render(properties) }}
        </div>
</div> 

{% endblock %}
